<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Fungi</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="./stylesheet/stylesheet.css">

</head>

<body>
	<div align="center" class="container">
		<h1> Create New Floral Entry</h1>
		<hr>
		<h2> Add Floral </h2>
		
		<form action="#" th:action="@{/saveFloral}" th:object="${floral}" method="POST">
			<input type="text" th:field="*{name}"
			 placeholder="Floral Name" class="form-control mb-4 col-4"/><br>
			 
			<input type="text" th:field="*{scientificName}"
			 placeholder="Scientific Name" class="form-control mb-4 col-4"/><br>
			 
			<input type="text" th:field="*{location}"
			 placeholder="location" class="form-control mb-4 col-4"/><br>
			 
			<input type="text" th:field="*{risk}"
			 placeholder="risk" class="form-control mb-4 col-4"/><br>
			 
			<input type="text" th:field="*{characteristics}"
			 placeholder="characteristics" class="form-control mb-4 col-4"/><br>
		
			<button type="submit" value="Submit" class="btn btn-info col-2"> Add Floral </button>
		</form>
		<br><hr><br>
    	<a th:href="@{/floral}" class="btn btn-primary btn-sm mb-3"> Back to Floral List</a>
	
	</div>
</body>
</html>